/*FONT SIZES BEGIN*/
html{
    font-size: 12px;
}
#fest_ort, #fest_datum, #fest_preis, #fest_anmeldefrist{
    font-size: 0.75em;
}
.text2{
    font-size: 1em;
}
@media (min-width: 450px){
    html{
        font-size: 14px;
    }
}
@media (min-width: 600px){
    html{
        font-size: 16px;
    }
}
@media (min-width: 850px){
    html{
        font-size: 18px;
    }
}
@media (min-width: 1000px){
    html{
        font-size: 20px;
    }
}
@media (min-width: 1200px){
    #fest_ort, #fest_datum, #fest_preis, #fest_anmeldefrist{
        font-size: unset;
    }
    .text2{
        font-size: 0.75em;
    }
}
@media (min-width: 1400px){
    .text2{
        font-size: 1em;
    }
}
/*FONT SIZES END*/



.header-img-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-img-group > div{
    color: var(--pri-color);
}
.header-img-group > img{
    margin-right: 20px;
}

/* Fotogalerie, Margin zum Footer */
.bottom-grid{
    margin-bottom: 100px;
    min-height: 1px;
}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pri-color);
    text-decoration: none;
}

body {
    background-color: var(--sec-color);
}
:root{
    --highlight: #8A817C;
    --pri-color: #463F3A;
    --sec-color: #F4F3EE;
    --ter-color: #1F2937;
    --qua-color: #1F2937;
    --nav-color: transparent;
    --button-color: #8A817C; 
}
h1 {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: var(--ter-color);
}
  
::-webkit-scrollbar-thumb {
    background: var(--pri-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

@-moz-document url-prefix() {
    html {
        scrollbar-width: thin;
        scrollbar-color: var(--pri-color) var(--ter-color);
    }
}


/* SELECTION */ 
::selection {
    background-color: var(--pri-color);
    color: var(--sec-color);
}

::-moz-selection {
    background-color: var(--pri-color);
    color: var(--sec-color);
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
h1, h2, h3, .text, img{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


.separator{
    height: 3px;
    border-radius: 2px;
    margin: 50px auto;
    position: relative;
    background-color: var(--ter-color);
    width: 50%;
    max-width: 500px;
    overflow: visible;
}
.separator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 6px;
    background: linear-gradient(90deg, transparent, var(--highlight), transparent);
    border-radius: 3px;
    z-index: 1;
    pointer-events: none;
}
.headline-container{
    margin-bottom: 50px;
}
h1{
    font-size: 3.375em;
    font-weight: normal;
    font-variant: all-petite-caps;
}
h2{
    font-size: 2em;
    font-weight: normal;
    font-variant: all-petite-caps;
}
h3{
    font-size: 1.25em;
}
.text{
    font-size: 1em;
    line-height: 1.5;
}
.text2{
    line-height: 1.5;
}

.sec-cta-btn{
    width: 160px;
    height: 40px;
    border: 2px solid var(--pri-color);
    color: var(--pri-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.sec-cta-btn:hover{
    background-color: var(--pri-color);
    color: var(--sec-color);
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}







nav img{
    cursor: pointer;
}
nav .nav-item{
    color: var(--pri-color);
    margin: 0 20px;
}
.big-nav{
    display: none;
    justify-content: space-between;
    align-items: center;
}
.big-nav .social-icon{
    margin: 0 0 0 20px;
}
.big-nav .social-icon:hover{
    filter: brightness(0) saturate(100%) invert(13%) sepia(99%) saturate(7477%) hue-rotate(-1deg) brightness(103%) contrast(106%);
}
nav .nav-item:hover{
    cursor: pointer;
    color: var(--highlight);
}

.close{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.open-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--sec-color);
    z-index: 5;
}
.open-menu a{
    text-decoration: none;
}
.open-menu a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.open-menu .primary-item{
    color: var(--pri-color);
    margin: 10px 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-menu .secondary-item{
    color: #aaa;
    font-size: 0.875em;
    margin: 5px 0;
}

.hide{
    display: none;
}

header nav{
    z-index: 10;
    position: fixed;
    background-color: var(--nav-color);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img{
    width: 25px;
    height: auto;
}










main{
    width: 80%;
    margin: 0 auto;
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
/*
.hero-section img{
    width: 30%;
    height: auto;
    max-width: 150px;
}
    */
    .hero-image img{
    width: 100%;
    height: auto;
    max-width: 120px;
}
.hero-section .headlines{
    margin: 15px 0;
}
.hero-section .headlines h1{
    text-align: center;
}
.hero-section .cta-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section .cta-btns a{
    margin: 5px;
}



footer{
    background-color: var(--qua-color);
    padding-top: 200px;
}
.footer-headline img{
    width: 15%;
    max-width: 200px;
    height: auto;
}
.footer-headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}
footer h2{
    color: var(--sec-color);
    text-align: center;
    margin-top: 20px;
}
footer .separator{
    margin: unset;
    width: 80%;
    margin: 0 auto;
    background-color: var(--sec-color);
}
footer .links{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
footer .links a{
    color: var(--sec-color);
}
footer .footer-text{
    color: var(--sec-color);
}
footer .marg-btm{
    margin-bottom: 20px;
}
footer .marg-btm:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width: 1000px){
    
    .hero-section .pri-cta-btn, .hero-section .sec-cta-btn{
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }
    
    .hero-section{
    flex-direction: row;
    justify-content: flex-start;
    gap: 60px;              /* 60px Abstand zwischen Text und Bild */
    padding-top: 140px;
    padding-bottom: 60px;
}
    .hero-section .hero-container{
        margin-left: 75px;
    }
    .hero-section .headlines h1{
        text-align: left;
    }
    .hero-section .cta-btns{
        flex-direction: row;
    }
    .pri-cta-btn, .sec-cta-btn{
        width: 200px;
        height: 50px;
    }
    footer .footer-headline{
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
}
@media (min-width: 1200px){
    .big-nav{
        display: flex;
    }
    #menu{
        display: none;
    }
}
@media (min-width: 1500px){
    main{
        width: 70%;
    }
    .footer-headline, footer .separator, footer .links{
        width: 70%;
    }
}